/* CSS RESETS TO REMOVE BROWSER PRESETS */
* {
  margin: 0;
  padding: 0;
}
/* Base styles for the app */
.page, body, html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100$;
}
/* Main page route styles */
.background {
  position: fixed;
  z-index: 0;
  height: 100%;
  width: 100%;
  background: url("https://reverb-res.cloudinary.com/image/upload/v1447364162/d7gyufrhnxhtbza3wavt.jpg");
  background-size: cover;
}
.katslogo{
  position: relative;
  z-index: 1;
  text-align: center;
}
.katslogo img{
  width: 300px;
}
.fixed-header{
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 70px;
  color: #039BE5;
  background-color: white;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
.fixed-header h3{
  font-size: 30px;
}
.fixed-header a{
  color: #039BE5;
  text-decoration: none;
}
.layout{
  padding-top: 180px;
  position: absolute;
  z-index: 1;
  height: 700px;
  width: 100%;
  box-sizing: border-box;
}
.header-title, .header-links div, .header-links{
  display: inline-block;
}
.header-title{
  margin-top: 17px;
}
.header-links{
  float: right;
}
#hamburger{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  float: right;
  display: inline-block;
}
.header-links div{
  padding-top: 26px;
  height: 70px;
  width: 100px;
  text-align: center;
  box-sizing: border-box;
}
.slogan{
  margin-top: 40px;
  color: white;
  text-align: center;
  font-size: 20px;
  text-shadow: 0 0 15px #353535, 0 0 15px black;
}
.call-to-action{
  padding-top: 75px;
  width: 700px;
  margin: 0 auto;
}
.call-to-action a{
  text-decoration: none;
}
.call-to-action button{
  width: 200px;
  margin-left: 30px;
  border: none;
  background-color: rgba(204,55,47, 0.9);
  height: 50px;
  color: white;
  font-size: 20px;
  box-shadow: 0 0 15px #121212;
}
.call-to-action button:hover{
  color: #CC372F;
  background-color: white;
}
.main-info-background{
  width: 800px;
  padding: 50px;
  margin: 0 auto;
}
.about{
  background-color: #a8350c;
  color: white;
  padding-top: 80px;
  height: 500px;
  width: 100%;
  margin-top: 231px;
  box-sizing: border-box;
}
.about h1{
  text-align: center;
  font-size: 35px;
  margin: 0 auto 20px;
}
.about-content{
  color: white;
  padding: 20px;
}
.about > div > img {
  width: 200px;
  margin: 0 auto;
}
.about .column:nth-child(2){
  background-color: #BF360C;
}
.about .column:nth-child(3){
  background-color: #D84315;
}
.about .column:nth-child(4){
  background-color: #E64A19;
}
.about .column:nth-child(5){
  background-color: #F4511E;
}

.about .column{
  margin-top: 60px;
  text-align: center;
  height: 500px;
  padding: 0 10px 0 10px;
  width: 25%;
  background-color: black;
  float: left;
  box-sizing: border-box;
  font-size: 20px;
}
.about div p{
  margin-top: 20px;
  text-align: left;
}
.divider{
  background-color: #FF5722;
  width: 100%;
  height: 50px;
  clear: both;
}
.hidden-menu{
  position: absolute;
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-top: 10px;
  padding-top: 25px;
  background: white;
}
.hidden-menu div{
  padding-left: 20px;
  background: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.hidden-menu div:hover, .hidden-menu div:hover a{
  background: #039BE5;
  color: white;
}
.gear-list{
  background: white;
  padding-top: 50px;
}
.gear-list .card{
  box-shadow: 0 0 5px #afafaf;
}
.gear-list h5 {
  padding: 10px 10px;
  background: #FF5722;
  font-size: 24px;
  color: white;
}
.a-gear-category{
  padding: 20px;
  vertical-align: top;
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.a-gear-category:nth-child(6){
  position: relative;
  top: -222px;
}
.gear-list ul{
  list-style-type: none;
  background: #efefef;
}
.gear-list li{
  padding: 10px;
  padding-top: 40px;
  font-size: 20px;
}
.gear-list li div{
  display: inline-block;
  vertical-align: middle;
  margin-right: 60px;
  width: 100px;
}
.gear-list li:nth-child(odd){
  background: #ddd;
}
.gear-list li div:nth-child(odd){
  width: 50%;
  max-width: 200px;
}
.gear-list li img{
  height: 40px;
  max-width: 200px;
}
.gear-list button:hover{
  background: white;
  color: #FF5722;
}
.gear-list button{
  margin-left: 20px;
  background: #FF5722;
  color: white;
  right: 0;
  padding: 10px;
  outline: none;
  border: none;
  box-shadow: 0 0 5px #343434;
  width: 100px;
}
.gear-list h1{
  padding-left: 20px;
  margin-bottom: 15px;
}
.gear-list .divider{
  background: transparent;
  height: 1px;
  position: relative;
  top: -222px;
}
.location{
  position: relative;
}
.address{
  padding-top: 50px;
  height: 500px;
  width: 100%;
  background-color: #039BE5;
  position: relative;
  box-sizing: border-box;
}
.map{
  background: url('map.png');
  width: 500px;
  height: 500px;
  background-position: center center;
  background-size: auto 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.address-content{
  width: 500px;
}
.address-content h3{
  font-size: 30px;
  margin-bottom: 10px;
  line-height: 30px;
}
.address-content p{
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 10px;
}
.address-content p, .address-content h3{
  padding-left: 50px;
  color: white;
}
.pin-container{
  width: 100%;
  padding-left: 50px;
  margin-bottom: 50px;
}
/* Products route styles */
.products{
  min-height: 1000px;
  background: #efefef;
  padding-top: 240px;
  position: absolute;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
}
.a-product:hover{
  background-color: #efefef;
}
.a-product{
  text-align: center;
  display: inline-block;
  width: calc(33% - 40px);
  padding: 20px;
  box-sizing: border-box;
  margin: 20px;
  box-shadow: 0 0 5px #afafaf;
  color: #FF9800;
  background-color: white;
}
.a-product img{
  height: 200px;
  width: auto;
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
}
.a-product h1{
  text-decoration: none;
  color: #039BE5;
  padding: 5px;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 15px;
}
.a-product h2{
  vertical-align: middle;
  display: inline-block;
  font-size: 30px;
  padding: 5px;
  border-radius: 5px;
  margin-right: 20px;
}
.a-product h3{
  vertical-align: middle;
  display: inline-block;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
}
.fixed-search-bar{
  position: fixed;
  top: 70px;
  width: 100%;
  background-color: rgba(55, 55, 55, 1);
}
.products-search{
  padding: 20px;
  font-size: 30px;
  color: white;
  background-color: #039BE5;
}
.products-search input{
  margin-left: 20px;
  font-size: 24px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  width: calc(100% - 160px);
  font-style: italic;
}
.search-status{
  padding: 20px;
  color: white;
  font-size: 16px;
}
.query, .query-count{
  font-weight: bold;
  color: #B3E5FC;
  font-size: 20px;
}
/* Begin Quote route styles */
.quote{
  padding: 100px 20px;
  background: white;
}
.quote-form {
  width: 100%;
  display: inline-block;
  padding: 20px;
  margin-bottom: 40px;
  box-sizing: border-box;
  background-color: #039BE5;
  color: white;
}
.quote-form p{
  margin-top: 10px;
}
.quote-form div{
  margin-top: 30px;
  font-size: 24px;
  position: relative;
}
.quote-form span{
  width: 200px;
}
.quote-form > div > input{
  position: absolute;
  padding: 5px 10px 5px 10px;
  font-size: 24px;
  outline: none;
  border: none;
  top: 0;
  left: 300px;
  width: calc(100% - 330px);
  background-color: white;
}
.quote button:hover{
  background: white;
  color: #FF5722;
}
.quote button{
  margin-top: 40px;
  background: white;
  color: #FF5722;
  right: 0;
  font-size: 30px;
  padding: 10px;
  outline: none;
  border: none;
  width: calc(100% - 10px);
  cursor: pointer;
  box-shadow: 0 0 5px #454545;
}
.quote .location {
  position: relative;
  width: calc(100% + 40px);
  left: -20px;
}
.quote > a{
  color: #039BE5;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}
.quote > a h3{
  padding-bottom: 20px;
}
.image-uploader input{
  position: absolute !important;
  padding: 0 !important;
  font-size: 24px !important;
  outline: none !important;
  border: none !important;
  top: -2px;
  left: 200px !important;
  width: 300px;
  background-color: transparent !important;
}
.uploaded-image{
  width: 100%;
}
.image-uploader canvas{
  float: left;
}
.image-uploader input[type=file] {
  outline: 1px dotted #000 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
.image-uploader > div:last-child{
  clear: both;
}
.upload-button{
  background: white;
  padding: 20px;
  color: black;
  position: relative;
  top: 10px;
  margin-top: 10px;
}
.image-dashboard label{
  width: 200px;
}
.image-dashboard{
  margin-top: 0 !important;
  float: left;
  width: calc(100% - 250px);
  padding-left: 20px;
  box-sizing: border-box;
}
.image-dashboard > div{
  position: relative;
  margin-top: 8px;
  width: 100%;
  margin-right: 40px;
  float: left;
}
#done-button{
  position: relative;
  cursor: pointer;
  top: 15px;
  background-color: white !important;
  color: black;
  padding: 20px !important;
}
.sexy_line.title{
  margin-top: 20px;
}
.sexy_line{
  display: block;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
.collatoral-list h3{
  color: #aaefff;
  font-size: 30px;
}
.collatoral-list{
  background-color: #545454;
  color: white;
  margin-right: 20px;
  width: calc(33% - 20px);
  margin-bottom: 20px;
  display: inline-block;
  box-sizing: border-box;
  float: left;
  box-shadow:  0 0 5px black;
  box-sizing: border-box;
  padding: 20px;
}
.collatoral-list ul{
  margin-top: 20px;
  margin-bottom: 20px;
  list-style-type: none;
}
.collatoral-list li p{
  font-size: 24px;
  padding: 10px 0 10px 0;
}
.collatoral-list li p:before {
  content: "\2713";
  color: lightgreen;
  margin-right: 10px;
}
.loans .location {
  position: relative;
  width: calc(100% + 40px);
  left: -20px;
}
.loans{
  padding: 20px;
  padding-top: 100px;
}
.loans h1{
  margin-bottom: 20px;
}
.loans > p{
  margin-bottom: 20px;
  font-style: italic;
}
.loans .divider{
  height: 1px;
  width: 100%;
  background: transparent;
}
.loans > h3{
  font-size: 26px;
  margin-top: 10px;
  margin-bottom: 20px;
}
/* Begin the wonders of media queries */
@media (max-width: 1250px) {
  .a-product{
    width: calc(50% - 40px);
  }
  .a-gear-category{
    width: 100%;
  }
  .a-gear-category:nth-child(6){
    position: relative;
    top: 0px;
  }
  .a-gear-category button{
    float: right;
  }
  .gear-list li{
    padding-top: 20px;
  }
  .about .column{
    width: 50%;
    margin-top: 0;
  }
  .about h1{
    margin-bottom: 60px;
  }
}
@media (max-width: 900px) {
  .map{
    width: 100%;
    position: relative;
  }
}
@media (max-width: 780px) {
  .a-product{
    width: calc(100% - 40px);
  }
}
@media (max-width: 750px) {
  .quote.layout{
    padding-top: 70px;
    padding-left: 0;
    padding-right: 0;
  }
  .quote-form{
    margin-bottom: 0;
  }
  .quote-form input{
    margin-top: 10px;
    width: calc(100% - 40px);
    display: block;
    position: relative;
    left: 0;
  }
  .call-to-action{
    width: 100%;
  }
  .call-to-action button {
    margin-left: 10%;
    margin-bottom: 20px;
    width: 80%;
    display: block;
  }
}
@media (max-width: 600px) {
  .about .column{
    width: 100%;
    margin-top: 0;
  }
  .about h1{
    margin-bottom: 60px;
  }
  .gear-list li img, .gear-list li div{
    max-width: 100px !important;
  }
}
@media (max-width: 500px) {
  .gear-list li{
    padding: 20px;
  }
  .gear-list li div:nth-child(1){
    width: 100%;
  }
  .gear-list li div:nth-child(2){
    margin-top: 10px;
  }
  .gear-list li button{
    position: relative;
    top: -25px;
  }
  .gear-list li div{
    display: block;
    width: 100%;
    max-width: none !important;
  }
  .gear-list li img{
    width: 100%;
    height: auto;
    max-width: none !important;
  }
}
@media (max-width: 390px) {
  .a-product img{
    max-width: 200px;
  }
}

