/* CSS RESETS TO REMOVE BROWSER PRESETS */
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}
/* Base styles for the app */
.page, body, html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100$;
}
/* Main page route styles */
.background {
  position: fixed;
  z-index: 0;
  height: 100%;
  width: 100%;
  background: url("awesomebg.jpg");
  background-size: cover;
}
.katslogo{
  position: relative;
  z-index: 1;
  text-align: center;
}
.katslogo img{
  width: 300px;
}
.fixed-header{
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 70px;
  color: #039BE5;
  background-color: white;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
.fixed-header h3{
  font-size: 30px;
}
.fixed-header a{
  color: #039BE5;
  text-decoration: none;
}
.layout{
  padding-top: 180px;
  position: absolute;
  z-index: 1;
  height: 700px;
  width: 100%;
  box-sizing: border-box;
}
.header-title, .header-links div, .header-links{
  display: inline-block;
}
.header-title{
  margin-top: 17px;
}
.header-links{
  float: right;
}
#hamburger{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  float: right;
  display: inline-block;
}
.header-links div{
  padding-top: 26px;
  height: 70px;
  width: 100px;
  text-align: center;
  box-sizing: border-box;
}
.slogan{
  margin-top: 40px;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: 'Saira Extra Condensed', sans-serif;
  text-shadow: 0 0 15px #353535, 0 0 15px black;
}
.call-to-action{
  padding-top: 75px;
  width: 700px;
  margin: 0 auto;
}
.call-to-action a{
  text-decoration: none;
}
.call-to-action button{
  width: 200px;
  margin-left: 30px;
  border: none;
  background-color: rgba(204,55,47, 0.9);
  height: 50px;
  color: white;
  font-size: 20px;
  box-shadow: 0 0 15px #121212;
}
.call-to-action button:hover{
  color: #CC372F;
  background-color: white;
}
.main-info-background{
  width: 800px;
  padding: 50px;
  margin: 0 auto;
}
.about{
  background-color: #FF5722;
  color: white;
  padding-top: 80px;
  height: 500px;
  width: 100%;
  margin-top: 231px;
  box-sizing: border-box;
}
.about h1{
  text-align: center;
  font-size: 35px;
  margin: 0 auto 20px;
  padding: 20px;
}
.about-content{
  color: white;
  padding: 20px;
}
.about > div > img {
  width: 200px;
  margin: 0 auto;
}
.about .column{
  margin-top: 60px;
  text-align: center;
  height: 400px;
  padding: 0 10px 0 10px;
  width: 25%;
  background-color: #FF5722;
  float: left;
  box-sizing: border-box;
  font-size: 20px;
}
.about div p{
  color: white;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}
.divider{
  background-color: #FF5722;
  width: 100%;
  height: 50px;
  clear: both;
}
<<<<<<< HEAD
.hidden-menu{
  box-shadow: 0 4px 2px -2px #545545;
  position: absolute;
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-top: -2px;
  padding-top: 25px;
  background: white;
}
.hidden-menu div{
  padding-left: 20px;
  background: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.hidden-menu div:hover, .hidden-menu div:hover a{
  background: #039BE5;
  color: white;
}
.gear-list{
  padding: 20px;
  background: white;
  padding-top: 50px;
}
.category-container{
  box-shadow: 0 4px 2px -2px #cfcfcf;
  position: sticky;
  top: 70px;
}
.a-gear-category.focus{
  background-color: #efefef;
  color: #039BE5;
}
.a-gear-category img{
  height: 100px;
  width: auto;
}

.a-gear-category div{
  padding-bottom: 20px;
}
.a-gear-category{
  background: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  width: 20%;
  display: inline-block;
  color: #FF5722;
  cursor: pointer;
}
.gear-list .card{
  box-shadow: 0 0 5px #afafaf;
}
.gear-list h5 {
  padding: 10px 10px;
  background: #FF5722;
  font-size: 24px;
  color: white;
}
.gear-list ul{
  margin-top: 20px;
  list-style-type: none;
}
.gear-list li{
  padding: 20px;
  width: 20%;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
}
.gear-list li div{
  font-size: 20px;
  margin-bottom: 20px;
}
.gear-list li:nth-child(even){
  background: #fafafa;
}
.gear-list li:nth-child(odd){
  background: #f6f6f6;
}
.gear-list .brand-name{
  margin-bottom: 40px;
  color: #FF5722;
}
.gear-list .brand-image{
  height: 100px;
  width: 100%;
}
.gear-list li img{
  max-width: 100%;
  max-height: 100%;
}
.gear-list button:hover{
  background: #039BE5;
  color: white;
}
.gear-list button{
  width: 100%;
  background: transparent;
  color: #039BE5;
  cursor: pointer;
  right: 0;
  font-size: 16px;
  padding: 20px;
  outline: none;
  border: none;
}
.gear-list h1{
  margin-bottom: 15px;
}
.gear-list .divider{
  background: transparent;
  height: 1px;
  position: relative;
  top: -222px;
}
.location{
  position: relative;
}
.address{
  padding-top: 50px;
  height: 500px;
  width: 100%;
  background-color: #039BE5;
  position: relative;
  box-sizing: border-box;
}
.map{
  background: url('map.png');
  width: 500px;
  height: 500px;
  background-position: center center;
  background-size: auto 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.address-content{
  width: 500px;
}
.address-content h3{
  font-size: 30px;
  margin-bottom: 10px;
  line-height: 30px;
}
.address-content p{
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 10px;
}
.address-content p, .address-content h3{
  padding-left: 50px;
  color: white;
}
.pin-container{
  width: 100%;
  padding-left: 50px;
  margin-bottom: 50px;
}
/* Products route styles */
.product-focus-page{
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 60px;
  box-sizing: border-box;
}
.product-focus-overlay{
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.product-focus-content{
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px #454545;
}
.products{
  min-height: 1000px;
  background: white;
  padding-top: 240px;
  position: absolute;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
}
.a-product.focus:hover{
  background-color: transparent;
}

.a-product:hover{
  background-color: #efefef;
}
.a-product{
  text-align: center;
  display: inline-block;
  width: calc(25% - 2px);
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  color: #FF9800;
  margin: 1px;
}
.a-product.focus{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: #FF9800;
}
.a-product.focus img{
  height: 300px;
}
.a-product.focus h1{
  font-size: 40px;
}
.a-product.focus h2{
  font-size: 30px;
}
.a-product.focus h3{
  font-size: 26px;
}
.a-product.even {
  background-color: rgba(0, 0, 0, 0.0401);
}
.a-product.odd {
  background-color:rgba(0, 0, 0, 0.02);
}
.a-product img{
  height: 100px;
  width: auto;
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
}
.a-product h1{
  text-decoration: none;
  color: #039BE5;
  padding: 5px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 15px;
}
.a-product h2{
  vertical-align: middle;
  display: inline-block;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  margin-right: 20px;
}
.a-product h3{
  vertical-align: middle;
  display: inline-block;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
}
.fixed-search-bar{
  position: fixed;
  top: 70px;
  width: 100%;
  background-color: rgba(55, 55, 55, 1);
}
.products-search{
  padding: 20px;
  font-size: 30px;
  color: white;
  background-color: #039BE5;
}
.products-search input{
  margin-left: 20px;
  font-size: 24px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  width: calc(100% - 160px);
  font-style: italic;
}
.search-status{
  padding: 20px;
  color: white;
  font-size: 16px;
}
.query, .query-count{
  font-weight: bold;
  color: #B3E5FC;
  font-size: 20px;
}
/* Begin Quote route styles */
.upload-preview{
  margin-top: 20px;
  display: inline-block;
  width: 100px;
  height: 100px;
}
.quote{
  padding: 100px 20px;
  background: white;
}
.quote-form h1{
  font-family: 'Saira Extra Condensed', sans-serif;
}
.quote-form {
  font-family: 'Saira Extra Condensed', sans-serif;
  width: 100%;
  display: inline-block;
  padding: 20px;
  margin-bottom: 40px;
  box-sizing: border-box;
  color: black;
}
.quote-form p{
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}
.quote-form div{
  margin-top: 30px;
  font-size: 24px;
  position: relative;
}
.quote-form span{
  width: 200px;
}
.quote-form > div > input{
  position: absolute;
  padding: 10px;
  font-size: 24px;
  outline: none;
  border: none;
  top: -5px;
  left: 300px;
  width: calc(100% - 330px);
  background-color: #efefef;
}
.quote .quote-submit{
  margin-top: 40px;
  background: #FF5722;
  color: white;
  right: 0;
  font-size: 30px;
  padding: 10px;
  outline: none;
  border: none;
  width: calc(100% - 10px);
  cursor: pointer;
  box-shadow: 0 0 5px #454545;
}
.quote .location {
  position: relative;
  width: calc(100% + 40px);
  left: -20px;
}
.quote > a{
  color: #039BE5;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}
.quote > a h3{
  padding-bottom: 20px;
  margin-left: 20px;
}
.image-uploader input{
  position: absolute !important;
  padding: 0 !important;
  font-size: 24px !important;
  outline: none !important;
  border: none !important;
  top: -2px;
  left: 200px !important;
  width: 300px;
  background-color: transparent !important;
}
.uploaded-image{
  width: 100%;
}
.image-uploader canvas{
  float: left;
}
.image-uploader input[type=file] {
  outline: 1px dotted #000 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
.image-uploader > div:last-child{
  clear: both;
}
.upload-button{
  display: block;
  background: #222;
  padding: 20px;
  color: white;
  position: relative;
  top: 10px;
  margin-top: 10px;
}
.image-dashboard label{
  width: 200px;
}
.image-dashboard{
  margin-top: 0 !important;
  float: left;
  width: calc(100% - 250px);
  padding-left: 20px;
  box-sizing: border-box;
}
.image-dashboard > div{
  position: relative;
  margin-top: 8px;
  width: 100%;
  margin-right: 40px;
  float: left;
}
#done-button{
  position: relative;
  cursor: pointer;
  top: 15px;
  background-color: white !important;
  color: black;
  padding: 20px !important;
}
.sexy_line.title{
  margin-top: 20px;
}
.sexy_line{
  display: block;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
.collatoral-list h3{
  color: #aaefff;
  font-size: 30px;
}
.collatoral-list{
  background-color: #545454;
  color: white;
  margin-right: 20px;
  width: calc(33% - 20px);
  margin-bottom: 20px;
  display: inline-block;
  box-sizing: border-box;
  float: left;
  box-shadow:  0 0 5px black;
  box-sizing: border-box;
  padding: 20px;
}
.collatoral-list ul{
  margin-top: 20px;
  margin-bottom: 20px;
  list-style-type: none;
}
.collatoral-list li p{
  font-size: 24px;
  padding: 10px 0 10px 0;
}
.collatoral-list li p:before {
  content: "\2713";
  color: lightgreen;
  margin-right: 10px;
}
.loans .location {
  position: relative;
  width: calc(100% + 40px);
  left: -20px;
}
.loans{
  padding: 20px;
  padding-top: 100px;
}
.loans h1{
  margin-bottom: 20px;
}
.loans > p{
  margin-bottom: 20px;
  font-style: italic;
}
.loans .divider{
  height: 1px;
  width: 100%;
  background: transparent;
}
.loans > h3{
  font-size: 26px;
  margin-top: 10px;
  margin-bottom: 20px;
}
/* Begin faq styles */
.a-qa-pair button{
  background: #039BE5;
  color: white;
  right: 0;
  font-size: 20px;
  padding: 5px;
  outline: none;
  border: none;
  margin-right: 20px;
  position: relative;
  width: 100px;
  cursor: pointer;
}
.input-box{
  margin-left: 20px;
  padding: 10px;
  font-size: 24px;
  outline: none;
  width: calc(100% - 40px);
  box-sizing: border-box;
  position: sticky;
  font-family: 'Saira Extra Condensed', sans-serif;
}
.about h1,.gear-list h1{
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 40px;
}
.faq .title{
  padding-left: 20px;
  font-size: 40px;
  margin-bottom: 10px;
}
.faq{
  background-color: white;
  padding: 20px;
  padding-top: 70px;
}

.faq .questions{
}
.questions h2{
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 20px;
  color: black;
  font-family: 'Saira Extra Condensed', sans-serif;
}
.faq .a-qa-pair{
  width: 50%;
  margin-bottom: 20px;
  display: inline-block;
  padding: 20px;
  box-sizing: border-box;
  vertical-align: top;
}
blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;

  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;

  /*Borders - (Optional)*/
  border-left: 15px solid #039BE5;
  border-right: 2px solid #FF5722;

  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}
/* Begin the wonders of media queries */
@media (max-width: 1250px) {
  .a-product{
    width: calc(50% - 2px);
  }
  .gear-list li{
    width: 33%;
  }
  .about .column{
    width: 50%;
    margin-top: 0;
  }
  .about h1{
    margin-bottom: 60px;
  }
}
@media (max-width: 900px) {
  .map{
    width: 100%;
    position: relative;
  }
}
@media (max-width: 780px) {
  .a-product{
    width: calc(100% - 2px);
  }
  .a-gear-category img{
    height: 50px;
    width: auto;
  }
}
@media (max-width: 750px) {
  .faq .a-qa-pair{
    width: 100%;
  }

  .gear-list li{
    width: 50%;
  }
  .quote.layout{
    padding-top: 70px;
    padding-left: 0;
    padding-right: 0;
  }
  .quote-form{
    margin-bottom: 0;
  }
  .quote-form input{
    margin-top: 10px;
    width: calc(100% - 40px);
    display: block;
    position: relative;
    left: 0;
  }
  .call-to-action{
    width: 100%;
  }
  .call-to-action button {
    margin-left: 10%;
    margin-bottom: 20px;
    width: 80%;
    display: block;
  }
}
@media (max-width: 600px) {
  .a-gear-category{
    font-size: 12px;
  }
  .gear-list li{
    width: 100%;
  }
  .about .column{
    width: 100%;
    margin-top: 0;
  }
  .about h1{
    margin-bottom: 60px;
  }
}
@media (max-width: 500px) {
  .gear-list li{
    width: 100%;
  }
  .a-gear-category{
    padding: 5px;
    width: 20%;
  }
}
@media (max-width: 390px) {
  .a-gear-category img{
    height: 20px;
    width: auto;
  }
  .a-product img{
    max-width: 200px;
  }
}

